docs/planning/wrenchready-n8n-ops-router.workflow.json
{
  "name": "WrenchReady Ops Event Router",
  "nodes": [
    {
      "parameters": {
        "path": "wrenchready-ops",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Ops Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -760,
        40
      ],
      "webhookId": "wrenchready-ops"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "event",
              "name": "event",
              "type": "string",
              "value": "={{ $json.event || '' }}"
            },
            {
              "id": "business",
              "name": "business",
              "type": "string",
              "value": "={{ $json.business || '' }}"
            },
            {
              "id": "payload",
              "name": "payload",
              "type": "object",
              "value": "={{ $json.payload || {} }}"
            },
            {
              "id": "receivedAt",
              "name": "receivedAt",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "normalize-envelope",
      "name": "Normalize Envelope",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -520,
        40
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "website_appointment_request",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "website"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "twilio_sms_inbound",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sms"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "twilio_voicemail_received",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voicemail"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "manual_inbound_created",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "manualInbound"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "promise_created",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "promiseCreated"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "inbound_updated",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "inboundUpdated"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.event }}",
                    "rightValue": "promise_updated",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "promiseUpdated"
            }
          ]
        },
        "options": {
          "fallbackOutput": "other"
        }
      },
      "id": "route-event",
      "name": "Route Event",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -260,
        40
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "alertSummary",
              "name": "alertSummary",
              "type": "string",
              "value": "=Website request: {{$json.payload.fullName || 'Unknown customer'}} | {{$json.payload.serviceNeeded || 'Unknown service'}} | {{$json.payload.intakeEvaluation?.territory || 'Unknown territory'}}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "website-summary",
      "name": "Website Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        -280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "alertSummary",
              "name": "alertSummary",
              "type": "string",
              "value": "=Inbound SMS: {{$json.payload.from || 'Unknown number'}} | {{$json.payload.body || 'No body'}}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "sms-summary",
      "name": "SMS Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        -180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "alertSummary",
              "name": "alertSummary",
              "type": "string",
              "value": "=Voicemail: {{$json.payload.callerNumber || 'Unknown number'}} | recording {{$json.payload.recordingUrl || 'missing'}}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "voicemail-summary",
      "name": "Voicemail Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        -80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "alertSummary",
              "name": "alertSummary",
              "type": "string",
              "value": "=Manual inbound created: {{$json.payload.fullName || 'Unknown customer'}} | {{$json.payload.serviceNeeded || 'Unknown service'}}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "manual-summary",
      "name": "Manual Inbound Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        20
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "alertSummary",
              "name": "alertSummary",
              "type": "string",
              "value": "=Promise created: {{$json.payload.promiseId || 'Unknown promise'}} | owner {{$json.payload.owner || 'Unassigned'}} | {{$json.payload.serviceScope || 'Unknown scope'}}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "promise-created-summary",
      "name": "Promise Created Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        120
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "alertSummary",
              "name": "alertSummary",
              "type": "string",
              "value": "=Inbound updated: {{$json.payload.inboundId || 'Unknown inbound'}} | {{$json.payload.qualificationStatus || 'Unknown state'}} | risk {{$json.payload.readinessRisk || 'unknown'}}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "inbound-updated-summary",
      "name": "Inbound Updated Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        220
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "alertSummary",
              "name": "alertSummary",
              "type": "string",
              "value": "=Promise updated: {{$json.payload.promiseId || 'Unknown promise'}} | {{$json.payload.status || 'Unknown status'}} | risk {{$json.payload.readinessRisk || 'unknown'}}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "promise-updated-summary",
      "name": "Promise Updated Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "alertSummary",
              "name": "alertSummary",
              "type": "string",
              "value": "=Unhandled WrenchReady event: {{$json.event || 'unknown'}}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "fallback-summary",
      "name": "Fallback Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        420
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Ops Webhook": {
      "main": [
        [
          {
            "node": "Normalize Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Envelope": {
      "main": [
        [
          {
            "node": "Route Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Event": {
      "main": [
        [
          {
            "node": "Website Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SMS Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Voicemail Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manual Inbound Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Promise Created Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inbound Updated Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Promise Updated Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2f1b840a-8ff7-4ab7-9777-3c8f498ce001",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "wrenchreadyOpsEventRouter",
  "tags": [
    {
      "name": "wrenchready"
    },
    {
      "name": "ops"
    },
    {
      "name": "webhooks"
    }
  ]
}
